{% extends 'index.html' %} 

{% block content %}
<table class="table">
<thead>
    <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Employee Code</th>
    <th>Actions</th>
    
    </tr>
</thead>
<tbody>
    {% if employee_list %}
    {% for emp in employee_list %}
    <tr>
    <td>{{emp.first_name}} {{emp.last_name}}</td>
    <td>{{emp.email}}</td>
    <td>{{emp.employee_code}}</td>
    <td>
        <a href="{% url 'detail_view_employee' emp.id %}"> view</a>
        <a href="{% url 'edit_employee' emp.id %}"> edit</a>
        <a href="{% url 'delete_employee' emp.id %}">delete </a>
    </td>
    </tr>
   {% endfor %}
   {% endif %}
    
</tbody>
</table>
{% endblock content %}
